<label
  [htmlFor]="data?.name"
  class="font-medium pb-[0.15rem] text-[14px] ps-2 pe-1 text-dark-900 flex items-center justify-between w-full"
>
  <div>
    <span>{{ data.parentLabel }}</span>
    <small *ngIf="hasRequiredValidator()" class="text-danger"> *</small>
  </div>
  <span
    class="material-icons-sharp cursor-pointer mb-1 hover:text-primary-500 text-[14px] text-dark-700"
    pTooltip="{{ data.info }}"
    *ngIf="data?.info"
  >
    info
  </span>
</label>
<p-inputOtp
  [(ngModel)]="data.value"
  [length]="data.max ?? 4"
  [disabled]="isForm && (forceReadOnly || data?.readonly || data?.disabled)"
  [integerOnly]="true"
>
</p-inputOtp>
<div *ngIf="data.formControl.touched">
  <div
    [id]="data?.name"
    *ngFor="let error of data.formControl.errors | keyvalue; trackBy: trackById"
    [translateParams]="error.value"
    [translate]="'validations.' + error.key"
    class="text-red-500 m-1 text-[13px]"
  ></div>
</div>
