<label
  [htmlFor]="data?.name"
  class="font-medium pb-[0.15rem] text-[14px] ps-2 text-dark-900"
  >{{ data.parentLabel }}
  <small *ngIf="hasRequiredValidator()" class="text-danger"> *</small>
</label>
<p-password
  [id]="data.getName(isForm)"
  [name]="data.getName(isForm)"
  [(ngModel)]="data.value"
  [feedback]="feedback"
  [placeholder]="data.placeholder"
  [toggleMask]="true"
  class="w-full p-input-icon-right p-0"
  [class.ng-invalid]="
    data.formControl.invalid &&
    (data.formControl.dirty || data.formControl.touched)
  "
  (keyup)="data.value = $event.target.value"
  [attr.readonly]="
    isForm && (forceReadOnly || data.readonly) ? 'readonly' : null
  "
  (blur)="data.formControl.markAsTouched({ onlySelf: true })"
  [maxlength]="data.max"
  [disabled]="isForm && data.disabled"
>
  <ng-template pTemplate="header">
    <h6>Nivel de seguridad</h6>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-divider></p-divider>
    <ul class="pl-2 ml-2 mt-0 ps-3" style="line-height: 1.5">
      <li class="ps-2">Al menos una mayúscula</li>
      <li class="ps-2">Al menos un número</li>
      <li class="ps-2">Minimo 8 caracteres</li>
    </ul>
  </ng-template>
</p-password>

<div *ngIf="data.formControl.touched">
  <div
    [id]="data?.name"
    *ngFor="let error of data.formControl.errors | keyvalue; trackBy: trackById"
    [translateParams]="error.value"
    [translate]="'validations.' + error.key"
    class="text-red-500 m-1 text-[13px]"
  ></div>
</div>
