<div class="px-3 pt-3">
  <app-breadcrumb></app-breadcrumb>
</div>
<div class="flex flex-col md:flex-row items-start gap-3 m-0 p-3">
  <!-- form -->
  <div [ngClass]="containerClass" class="w-full">
    <form
      [ngClass]="formClass"
      autocomplete="off"
      class="bg-white p-4 rounded shadow-md w-full"
    >
      <ng-content select="[role=before-title]"></ng-content>
      <div class="flex-1 mt-1">
        <h4 class="m-0" *ngIf="formTitle" [innerHTML]="formTitle">
          {{ formTitle }}
        </h4>
        <h5 class="m-0" *ngIf="formSubTitle" [innerHTML]="formSubTitle">
          {{ formSubTitle }}
        </h5>
        <div class="flex justify-end">
          <small class="text-red-600" *ngIf="hasRequired">
            (*) Campos requeridos.
          </small>
        </div>
      </div>

      <!-- inputs -->
      <div class="grid grid-cols-1 md:grid-cols-6 lg:grid-cols-12 gap-4">
        <ng-container
          *ngFor="
            let attr of model.getFormInputs(readonly);
            let i = index;
            trackBy: trackByType
          "
          [ngSwitch]="attr?.getType(true)"
        >
          <div
            class="col-span-full flex items-center gap-2 border-b border-blue-500 border-1 pb-2 mb-2 text-blue-500"
            [ngClass]="{ 'pt-2': i > 0 }"
            *ngSwitchCase="'tag'"
          >
            <h6 class="mb-0 font-bold">
              {{ attr.placeholder }}
            </h6>
          </div>

          <app-input-text
            *ngSwitchCase="'text'"
            [data]="attr"
            [forceReadOnly]="readonly"
            [ngClass]="
              attr.container_class ? attr.container_class : 'col-span-full'
            "
          ></app-input-text>

          <app-input-id
            *ngSwitchCase="'id'"
            [data]="attr"
            [forceReadOnly]="readonly"
            [ngClass]="
              attr.container_class ? attr.container_class : 'col-span-full'
            "
          ></app-input-id>

          <app-input-password
            *ngIf="attr.type == 'password' || attr.type == 'password-feedback'"
            [data]="attr"
            [forceReadOnly]="readonly"
            [feedback]="attr.type == 'password-feedback'"
            [ngClass]="
              attr.container_class ? attr.container_class : 'col-span-full'
            "
          ></app-input-password>

          <app-input-select
            *ngSwitchCase="'select'"
            [data]="attr"
            [forceReadOnly]="readonly"
            [ngClass]="
              attr.container_class ? attr.container_class : 'col-span-full'
            "
          ></app-input-select>

          <app-multi-select
            *ngSwitchCase="'multi-select'"
            [data]="attr"
            [forceReadOnly]="readonly"
            [ngClass]="
              attr.container_class ? attr.container_class : 'col-span-full'
            "
          ></app-multi-select>

          <app-input-otp
            *ngSwitchCase="'otp'"
            [data]="attr"
            [forceReadOnly]="readonly"
            [ngClass]="
              attr.container_class ? attr.container_class : 'col-span-full'
            "
          ></app-input-otp>

          <app-input-numeric
            *ngSwitchCase="'numeric'"
            [data]="attr"
            [forceReadOnly]="readonly"
            [ngClass]="
              attr.container_class ? attr.container_class : 'col-span-full'
            "
          ></app-input-numeric>

          <app-input-textarea
            *ngSwitchCase="'textarea'"
            [data]="attr"
            [forceReadOnly]="readonly"
            [ngClass]="
              attr.container_class ? attr.container_class : 'col-span-6 md:col-span-full'
            "
          ></app-input-textarea>

          <app-input-calendar
            *ngSwitchCase="'calendar'"
            [data]="attr"
            [forceReadOnly]="readonly"
            [ngClass]="
              attr.container_class ? attr.container_class : 'col-span-full'
            "
          ></app-input-calendar>

          <app-input-mask
            *ngSwitchCase="'mask'"
            [data]="attr"
            [forceReadOnly]="readonly"
            [ngClass]="
              attr.container_class ? attr.container_class : 'col-span-full'
            "
          ></app-input-mask>

          <input *ngSwitchCase="'hidden'" type="hidden" [value]="attr.value" />
        </ng-container>
      </div>

      <ng-content select="[role=before-btns]"></ng-content>

      <div class="w-full flex justify-end gap-3">
        <app-button
          *ngIf="!readonly && !hasCancelButton"
          class="bg-gray-200 rounded"
          (click)="goBack()"
          [text]="'Cancelar'"
        >
        </app-button>
        <ng-content select="[role=save-btn]"></ng-content>
        <app-button
          *ngIf="!readonly && !hasSaveButton"
          class="bg-blue-500 text-white rounded"
          (click)="!model.form.invalid ? save(redirect) : false"
          [disabled]="model.form.invalid"
          [type]="'submit'"
          [text]="saveButtonText || 'Guardar'"
        >
        </app-button>
      </div>
    </form>
  </div>
</div>
